<%- provide :title, "Portfolio" -%>
<%- provide :keywords, "clutter, pose, hearts, vidfolia, pickupfc, productwiki" -%>
<%- provide :description, "iOS and web apps designed or developed including Pose, Hearts, Vidfolia, Winescan, PickupFC and More!" -%>
<%- provide :head -%>

<%- Portfolio.all.each do |portfolio| -%>
  <h1><%= portfolio.name %></h1>

  <p><%= portfolio.summary %></p>

  <div data-controller="gallery">
    <div class="grid">
      <%- portfolio.images do |image| -%>
        <div class="zoomer" data-action='click->gallery#zoom' data-gallery-url-param="<%= image_path(image[:original]) %>">
          <%= image_tag image_path(image[:thumb]), size: image[:size], class: 'zoomer__image' %>
          <div class="zoomer__mask"></div>
        </div>
      <%- end -%>
    </div>
    <div class="lighten" data-gallery-target="dialog" style="display: none">
      <div class="lighten__overlay" data-gallery-target="overlay" data-action='click->gallery#close'></div>
      <div class="lighten__container">
        <img class="lighten__content" data-gallery-target="content">
        <a class="lighten__close" data-gallery-target="close" data-action='click->gallery#close'>×</a>
      </div>
    </div>

  <%- portfolio.videos do |video| -%>
    <div class="player">
      <%= tag.iframe width: 960, height: 540, frameborder: 0, src: video[:url] %>
    </div>
  <%- end -%>
<%- end -%>
