<%= form_for [:admin, page] do |form| %>
  <div class="my-4">
    <%= form.text_field :title, placeholder: "Title" %>
    <%= errors page, :title %>
  </div>

  <div class="my-4">
    <%= form.text_field :summary, placeholder: "Summary" %>
    <%= errors page, :summary %>
  </div>

  <div class="my-4">
    <%= form.text_area :body, placeholder: "Body" %>
    <%= errors page, :body %>
  </div>

  <div class="my-4">
    <%= form.text_field :taggables, placeholder: "Tags" %>
    <%= errors page, :tags %>
  </div>

    <div class="my-4">
    <%= form.text_field :canonical_url, placeholder: "Canonical URL" %>
    <%= errors page, :canonical_url %>
  </div>

  <%= form.submit class: "button" %>
<% end %>
