<%= form_for session, url: admin_session_path do |form| %>
  <%= errors session, :base %>

  <div class="input">
    <div class="icon">
      <i class="fas fa-envelope"></i>
    </div>
    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <%= errors session, :email %>

  <div class="input">
    <div class="icon">
      <i class="fas fa-lock"></i>
    </div>
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
  <%= errors session, :password %>

  <%= form.submit commit, class: "submit" %>
<% end %>
