<%= form_for session, url: admin_session_path do |form| %>
  <%= errors session, :base %>

  <div class="my-4">
    <%= form.email_field :email, placeholder: "Email" %>
    <%= errors session, :email %>
  </div>

  <div class="my-4">
    <%= form.password_field :password, placeholder: "Password" %>
    <%= errors session, :password %>
  </div>

  <%= form.submit commit %>
<% end %>
