<%= form_for [:admin, attachment.becomes(Attachment)] do |form| %>
  <div class="my-4">
    <%= form.text_field :name, placeholder: "Name" %>
    <%= errors attachment, :name %>
  </div>

  <div class="my-4">
    <%= form.file_field :file %>
    <%= errors attachment, :file %>
  </div>

  <%= form.submit %>
<% end %>
