<%- provide :title, "Admin » Attachments" -%>

<div class="my-4">
  <nav class="breadcrumb">
    <%= link_to "Admin", admin_path %>
    <span>/</span>
    <span>Attachments</span>
  </nav>
</div>

<div class="my-4 text-right">
  <%= link_to "New", new_admin_attachment_path, class: "button" %>
</div>

<div class="my-4">
  <table class="max-w-full min-w-full">
    <tbody class="divide-y divide-gray-200">
      <%- @attachments.each do |attachment| -%>
        <tr>
          <td class="py-4"><%= attachment.name %></td>
          <td class="py-4">
            <div class="flex justify-end gap-4">
              <%= link_to "Edit", edit_admin_attachment_path(attachment) %>
              <%= link_to "Destroy", admin_attachment_path(attachment), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

<%= paginate @attachments %>
