<header id="header">
  <div class="content">
    <%= link_to 'Admin', admin_path, class: "logo #{'active' if active?("admin/dashboard")}" %>
    <%- if authenticated? -%>
      <nav class="navigation global">
        <ul>
          <li><%=  link_to 'Pages', admin_pages_path, class: ('active' if active?("admin/pages")) %></li>
          <li><%=  link_to 'Posts', admin_posts_path, class: ('active' if active?("admin/posts")) %></li>
          <li><%=  link_to 'Attachments', admin_attachments_path, class: ('active' if active?("admin/attachments")) %></li>
        </ul>
      </nav>
      <nav class="navigation account">
        <ul>
          <li><%=  link_to 'Account', edit_admin_user_path, class: ('active' if active?("admin/users")) %></li>
          <li><%=  link_to 'Logout', admin_session_path, method: 'delete' %></li>
        </ul>
      </nav>
    <%- end -%>
  </div>
</header>
