<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/admin/head" %>
  <body>
    <div id="application">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/content" %>
      <%= render "layouts/admin/footer" %>
    </div>
    <%= render "layouts/analytics" %>
  </body>
</html>
