<%= form_for [:admin, post] do |form| %>

  <div class="mb-4">
    <%= form.text_field :title, placeholder: "Title" %>
    <%= errors post, :title %>
  </div>

  <div class="mb-4">
    <%= form.text_field :summary, placeholder: "Summary" %>
    <%= errors post, :summary %>
  </div>

  <div class="mb-4">
    <%= form.text_area :body, placeholder: "Body" %>
    <%= errors post, :body %>
  </div>

  <div class="mb-4">
    <%= form.text_field :taggables, placeholder: "Tags" %>
    <%= errors post, :tags %>
  </div>

  <%= form.submit %>
<% end %>
