<%- provide :title, "Admin » Posts" -%>

<nav class="crumbs">
  <%= link_to 'Admin', admin_path %> » Posts
</nav>

<ul class="grid">
  <%- @posts.each do |post| -%>
    <li class="grid__entry">
      <span class="grid__title"><%= truncate post.title, length: 40 %></span>
      <span class="grid__options">
        <%= link_to 'Show', post_path(segment: post.segment, slug: post.slug), class: 'button show' %>
        <%= link_to 'Edit', edit_admin_post_path(post), class: 'button edit' %>
        <%= link_to 'Destroy', admin_post_path(post), method: :delete, class: 'button destroy', data: { confirm: "Are you sure?" } %>
      </span>
    </li>
  <%- end -%>
</ul>

<%= paginate @posts %>

<div class="actions">
  <%= link_to 'New', new_admin_post_path, class: 'button' %>
</div>
