<%= paginator.render do %>
  <nav class="flex items-center justify-between border-t border-slate-200 text-lg mt-8">
    <%= prev_page_tag %>
    <div class="flex">
      <%- each_page do |page| -%>
        <%- if page.left_outer? || page.right_outer? || page.inside_window? -%>
          <%= page_tag page %>
        <%- elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <%- end -%>
      <%- end -%>
    </div>
    <%= next_page_tag %>
  </div>
<% end %>
