<%= form_for user, url: admin_user_path do |form| %>
  <div class="my-4">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Name" %>
    <%= errors user, :name %>
  </div>

  <div class="my-4">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "Email" %>
    <%= errors user, :email %>
  </div>

  <div class="my-4">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Password" %>
    <%= errors user, :password %>
  </div>

  <%= form.submit commit %>
<% end %>
