<header id="header">
  <div class="content">
    <%= link_to root_path, class: 'avatar' do %>
      <picture>
        <source type="image/webp" srcset="<%= srcset('avatar/default', sizes: %w[100w 200w 300w 400w 500w 600w], format: 'webp') %>">
        <%= image_tag image_path('avatar/default.jpg'), alt: 'Kevin Sylvestre', class: 'image', srcset: srcset('avatar/default', sizes: %w[100w 200w 300w 400w 500w 600w], format: 'jpg') %>
      </picture>
    <% end %>
    <h1 class="title">Kevin Sylvestre</h1>
    <h2 class="subtitle">A Ruby and iOS developer and designer.</h2>
    <nav class="links">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Portfolio', portfolio_path %></li>
        <li><%= link_to 'Search', search_path %></li>
      </ul>
    </nav>
  </div>
</header>
