<header>
  <div class="mb-4 flex items-center justify-center">
    <%= link_to root_path do %>
      <picture>
        <source type="image/webp" srcset="<%= srcset("avatar/default", sizes: %w[100w 200w 300w 400w 500w 600w], format: "webp") %>">
        <source type="image/jpeg" srcset="<%= srcset("avatar/default", sizes: %w[100w 200w 300w 400w 500w 600w], format: "jpg") %>">
        <%= image_tag image_path("avatar/default.jpg"), alt: "Kevin Sylvestre", class: "block rounded-2xl w-48 h-48" %>
      </picture>
    <% end %>
  </div>
  <h1 class="my-4 title">Kevin Sylvestre</h1>
  <h2 class="my-4 subtitle">A Ruby and Swift developer and designer.</h2>
  <nav class="mt-4 nav">
    <%- header_nav.each do |(text,link)| %>
      <%= link_to text, link %>
    <%- end -%>
  </nav>
</header>
