<title><%= yield(:title) %> | Kevin Sylvestre</title>

<%= tag.meta charset: "UTF-8" %>
<%= tag.meta name: "description", content: yield(:description) %>
<%= tag.meta name: "keywords", content: yield(:keywords) %>
<%= tag.meta name: "viewport", content: viewport %>

<%= favicon_link_tag(image_path("favicon.ico"), sizes: "16x16 24x24 32x32 48x48 64x64") %>

<%= auto_discovery_link_tag(:atom, feed_url(:atom)) %>
<%= auto_discovery_link_tag(:rss, feed_url(:rss)) %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<script>
  RELEASE = <%= raw JSON.generate(release) %>;
  ENVIRONMENT = <%= raw JSON.generate(Rails.env) %>;
  SENTRY_DSN = <%= raw JSON.generate(Rails.application.credentials.sentry_dsn) %>;
  SENTRY_TRACES_SAMPLE_RATE = <%= raw JSON.generate(Sentry.configuration.traces_sample_rate) %>;
</script>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>

<script type="application/ld+json">
  <%= raw JSON.generate(ld) %>
</script>

<%= yield(:head) %>
