<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
    <%= render "layouts/metadata" %>
  </head>
  <body>
    <main class="container mx-auto my-8 px-8 max-w-5xl">
      <%= render "layouts/header" %>
      <%= render "layouts/content" %>
      <%= render "layouts/footer" %>
      <%= render "layouts/analytics" %>
    </main>
  </body>
</html>
