<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
    <%= render "layouts/metadata" %>
  </head>
  <body>
    <main class="px-8 my-8">
      <div class="mx-auto max-w-6xl">
        <%= render "layouts/header" %>
        <%= render "layouts/content" %>
        <%= render "layouts/footer" %>
      </div>
    </main>
  </body>
</html>
