<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= render 'layouts/metadata' %>
  </head>
  <body>
    <div id="application">
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <%= render 'layouts/content' %>
        <div class="push"></div>
      </div>
      <%= render 'layouts/footer' %>
    <%= render 'layouts/analytics' %>
  </body>
</html>
